a {
  text-decoration: none;
  margin: 10px 10px;
  color: white;
  height: 5rem;
  opacity: 0.75;
}

nav {
  height: 2.5rem;
  text-align: start;
  margin: auto;
  display: flex;
  justify-content: start;
}

a:hover {
  opacity: 1;
  color: white;
}

a:active {
  opacity: 1;
  color: white;
}

body {
  background-color: lightgray;
}

ul {
  margin: 0px 40rem;
}

button {
  margin: 39rem;
}

button:hover {
  scale: 1.1;
}

img {
  width: 15rem;
  height: 15rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
}

img:hover {
  scale: 1.1;
}
